<footer class="footer-distributed navbar-fixed-bottom">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright © Lineaj 2018</p>
      </div>
      <!-- /.container -->
</footer>